.container {
    height: 85vh;
    max-width: 83%;
    margin: 70px auto 0 auto;
    background-color: var(--primary-color);
    background-image: url(/img/naslovna.png);
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 0px 0px 10px 5px var(--header-color);
}

.main-nav {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    background-color: #A3CBCC;
    border-bottom: 3px solid var(--secondary-color);
}

.main {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem;
    font-size: 1.4rem;
    line-height: 1.35;
    font-weight: 500;

    &__onama, &__naruci {
        width: 400px;
    }

    &__naruci {
        display: flex;
        flex-direction: column;
    }
}

.container-usluge {
    background-image: none;
    background-color: var(--primary-color);
    height: auto;
}

.main-usluge {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.popisUsluga {
    text-align: center;
}

.vozilo {
    background-color: #fff;
    display: flex;
    margin-bottom: 3rem;
    border-radius: 1rem;
    border-right: 3px solid var(--secondary-color);
   

    img {
        height: 400px;
        margin-bottom: 1rem;
        border-top-left-radius: 1rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: 700;
        text-align: center;
        margin-top: 13%;
        padding: 1rem;
    }
}

.reference {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin: 1rem auto;
   

    .recenzija {
        display: flex;
        background-color: #fff;
        margin-bottom: 2rem;
        border-radius: 1rem;
        height: 300px;
        align-items: center;

        img {
            
            height: 80%;
            margin-left: 1rem;
            justify-self: center;
        }

        p {
            width: 50%;
            justify-self: flex-start;
        }
    }
}

.container-voznipark {
    background-image: none;
    height: auto;
    padding-bottom: 1rem;

    .vozilo {
        width: 90%;
        margin: 1rem auto;
    }
}

.forma {
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;

    input {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 1rem;
        font-family: 'Montserrat';
    }

    label, textarea,select {
        font-size: 1.6rem;
        font-weight: 500;
        font-family: 'Montserrat';
    }

    .katovi {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
    }

    textarea {
        margin-bottom: 2rem;
    }
}